@import "../../../styles/_globals.scss";

.wrapper {
	display: flex;
	gap: 17px;
	align-items: center;

	> .button_active {
		background-color: rgba($second-color, $alpha: 0);
		border: 1px solid $second-color;
		min-width: 20px;
		height: 20px;
		position: relative;

		> img {
			position: absolute;
			top: -1px;
			left: 0;
		}

		> input {
			position: absolute;
			top: -1px;
			left: 0px;
			z-index: -10;
		}
	}

	> .button {
		background-color: rgba($second-color, $alpha: 0);
		border: 1px solid $no-active-color;
		min-width: 20px;
		height: 20px;
		position: relative;

		> img {
			position: absolute;
			top: -1px;
			left: 0;
		}

		> input {
			position: absolute;
			top: -1px;
			left: 0px;
			z-index: -10;
		}
	}

	> .label {
		color: $no-active-color;
	}

	> .label_active {
		color: $second-color;
	}
}