@import "../../styles/_globals.scss";

.home-one {
	position: relative;
	padding-top: 45px;
	height: 620px;
	margin-top: 25px;
	margin-bottom: 55px;

	@media (max-width: 991.98px) {
		display: flex;
		padding-top: 35px;
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 767.98px) {
		padding-top: 25px;
	}

	@media (max-width: 479.98px) {
		padding-top: 0px;
	}

	> .home-one__block-content {
		max-width: 743px;

		@media (max-width: 1500px) {
			max-width: 553px;
		}

		@media (max-width: 1200px) {
			max-width: 450px;
		}

		@media (max-width: 991.98px) {
			max-width: 700px;
			display: flex;
			flex-direction: column;
		}

		> .home-one__title {
			font-family: "Ferry";
			font-size: 3.3em;
			font-weight: 900;
			text-transform: uppercase;
			line-height: 1.2;

			@media (max-width: 1500px) {
				font-size: 2.9em;
			}
		}

		> .home-one__paragraph {
			font-family: "Inter";
			font-weight: 400;
			font-size: 1.1em;
			max-width: 534px;
			margin-top: 1.1em;
			margin-bottom: 3.9em;

			@media (max-width: 1500px) {
				font-size: 0.8em;
				max-width: 484px;
			}

			@media (max-width: 991.98px) {
				max-width: 734px;
			}

			@media (max-width: 767.98px) {
				margin-bottom: 0em;
			}
		}

		> button {
			font-family: "Inter";
			width: 335px;
			height: 59px;
			right: 5px;
			background-color: $sixth-color;
			color: $third-color;
			font-size: 1.2em;
			font-weight: 500;
			border-radius: 5px;

			@media (max-width: 991.98px) {
				max-width: 734px;
				align-self: center;
				justify-self: center;
			}

			@media (max-width: 767.98px) {
				margin-top: 30px;
				font-size: 1em;
			}
		}
	}

	> .home-one__image {
		width: 629px;
		height: 620px;
		position: absolute;
		top: 0;
		right: 0;

		@media (max-width: 1500px) {
			width: 579px;
			height: 570px;
		}

		@media (max-width: 1200px) {
			width: 499px;
			height: 490px;
		}

		@media (max-width: 991.98px) {
			width: 609px;
			height: 600px;
			position: static;
		}

		@media (max-width: 767.98px) {
			width: 509px;
			height: 500px;
		}

		@media (max-width: 479.98px) {
			width: 347px;
			height: 342px;
		}
	}
}

.home-two {
	margin: 55px 0px;

	@media (max-width: 991.98px) {
		display: flex;
		flex-direction: column;
		margin-top: 385px;
	}

	@media (max-width: 767.98px) {
		margin-top: 260px;
	}

	@media (max-width: 479.98px) {
		margin-top: 0px;
	}

	> .home-two__block-content {
		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
		}

		> .home-two__title {
			font-family: "Ferry";
			font-size: 2.5em;
			font-weight: 900;
			margin-bottom: 70px;

			@media (max-width: 767.98px) {
				font-size: 2em;
				margin-bottom: 32px;
				max-width: 200px;
			}
		}
	}

	> .home-two__image {
		margin-top: 70px;

		@media (max-width: 1500px) {
			max-width: 1135px;
		}

		@media (max-width: 1200px) {
			max-width: 925px;
		}

		@media (max-width: 991.98px) {
			width: 461px;
			height: 493px;
			align-self: center;
		}
		@media (max-width: 767.98px) {
			width: 401px;
			height: 393px;
		}
		@media (max-width: 479.98px) {
			width: 361px;
		}
	}
}

.home-three {
	margin-top: 55px;
	margin-bottom: 120px;

	> h2 {
		font-family: "Ferry";
		font-size: 2.5em;
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 70px;

		@media (max-width: 767.98px) {
			font-size: 2em;
			margin-bottom: 35px;
		}
	}

	> .home-three__block-tariff {
		font-family: "Inter";
		display: flex;
		gap: 37px;

		@media (max-width: 1500px) {
			gap: 27px;
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width: 767.98px) {
			gap: 43px;
		}

		> .block-tariff__tariff {
			width: 415px;
			height: 565px;
			border-radius: 10px;
			box-shadow: 0px 0px 20px $inactive-text-color;
			position: relative;

			&:last-child {
				border: 2px solid $second-color;
			}

			@media (max-width: 767.98px) {
				width: 335px;
				height: 542px;
			}

			> .block-tariff__title-block {
				display: flex;
				justify-content: space-between;
				max-height: 132px;
				padding: 30px 30px 35px 30px;
				position: relative;
				border-radius: 10px 10px 0px 0px;

				> div {
					> h3 {
						font-size: 1.66em;
						margin-bottom: 10px;
						font-weight: 500;

						@media (max-width: 767.98px) {
							font-size: 1.28em;
						}

						@media (max-width: 479.98px) {
							font-size: 1.48em;
						}
					}

					> p {
						@media (max-width: 767.98px) {
							font-size: 1.1em;
						}

						@media (max-width: 479.98px) {
							font-size: 1.3em;
						}
					}
				}

				> img {
					width: 93px;
					height: 83px;
					position: static;
					top: 12px;
					right: 10px;

					@media (max-width: 767.98px) {
						width: 59px;
						height: 53px;
					}
				}
			}

			> .block-tariff__active-tariff {
				position: absolute;
				top: 25%;
				right: 2%;
				padding: 3px 13px 3px 14px;
				color: $third-color;
				background-color: rgba(59, 165, 224, 1);
				border-radius: 10px;
				font-size: .78em;
			}

			> .block-tariff__price-block {
				padding: 0px 30px 0px 30px;
				margin-top: 35px;
				margin-bottom: 10px;
				display: flex;
				gap: 20px;
				font-size: 1.66em;
				font-weight: 500;

				@media (max-width: 767.98px) {
					margin-top: 20px;
					padding: 0px 24px 0px 24px;
					gap: 10px;
					font-size: 1.9em;
				}

				@media (max-width: 479.98px) {
					font-size: 2.1em;
				}

				> .block-tariff__main-price {
					color: $inactive-text-color;
					text-decoration: line-through;
				}
			}

			> .block-tariff__price-form-month {
				padding: 0px 30px 0px 30px;
				margin-bottom: 60px;

				@media (max-width: 767.98px) {
					font-size: 1.1em;
					padding: 0px 24px 0px 24px;
					margin-bottom: 36px;
				}

				@media (max-width: 479.98px) {
					font-size: 1.3em;
				}
			}

			> .block-tariff__bonus-block {
				padding: 0px 30px 0px 30px;

				@media (max-width: 767.98px) {
					padding: 0px 24px 0px 24px;
				}

				> p {
					font-size: 1.1em;
					font-weight: 500;
					margin-bottom: 10px;

					@media (max-width: 479.98px) {
						font-size: 1.3em;
					}
				}

				li {
					margin-bottom: 5px;
					font-size: 1.15em;

					&:last-child {
						margin-bottom: 50px;

						@media (max-width: 767.98px) {
							margin-bottom: 39px;
						}
					}
				}
			}
			> .block-tariff__link-to-personal-area_active {
				display: inline-block;
				padding: 0px 30px 0px 30px;
				margin-bottom: 25px;
				width: 355px;
				height: 60px;
				background-color: $sixth-color;
				color: $third-color;
				text-align: center;
				padding-top: 17px;
				border-radius: 5px;
				margin: 0px 30px 25px;

				@media (max-width: 767.98px) {
					font-size: 1.1em;
					padding: 0px 24px 0px 24px;
					width: 286px;
					height: 60px;
					padding-top: 17px;
				}

				@media (max-width: 479.98px) {
					font-size: 1.3em;
				}
			}

			> .block-tariff__link-to-personal-area_no-active {
				display: inline-block;
				padding: 0px 30px 0px 30px;
				margin-bottom: 25px;
				width: 355px;
				height: 60px;
				background-color: rgba($second-color, $alpha: .2);
				color: $second-color;
				text-align: center;
				padding-top: 17px;
				border-radius: 5px;
				margin: 0px 30px 25px;

				@media (max-width: 767.98px) {
					font-size: 1.1em;
					padding: 0px 24px 0px 24px;
					width: 286px;
					height: 60px;
					padding-top: 17px;
				}

				@media (max-width: 479.98px) {
					font-size: 1.3em;
				}
			}
		}
	}
}

.auth {
	display: flex;
	gap: 90px;
	margin-bottom: 80px;
	margin-top: 15px;

	@media (max-width: 1500px) {
		gap: 70px;
		margin-bottom: 70px;
	}

	> .auth__title-block {
		max-width: 710px;

		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 50px;
		}

		> h2 {
			font-family: "Ferry";
			font-size: 2.22em;
			font-weight: 900;
			text-transform: uppercase;

			@media (max-width: 991.98px) {
				margin-bottom: 40px;
			}
		}
	}

	> .auth__block-auth {
		font-family: "Inter";
		width: 429px;
		height: 523px;
		box-shadow: 0px 0px 20px $no-active-color;
		border-radius: 10px;
		padding: 25px;
		display: flex;
		flex-direction: column;
		position: relative;

		@media (max-width: 1200px) {
			width: 399px;
			height: 493px;
		}

		@media (max-width: 991.98px) {
			display: none;
		}

		> .auth__lock {
			position: absolute;
			top: -60px;
			left: -49px;
			width: 75px;
			height: 92px;

			@media (max-width: 1200px) {
				width: 65px;
				height: 82px;
			}
		}

		> .auth__block-state-auth {
			margin-bottom: 40px;
			display: flex;
			gap: 15px;

			@media (max-width: 1200px) {
				margin-bottom: 35px;
				gap: 10px;
			}

			> .auth__enter {
				width: 151px;
				color: $first-color;
				border-bottom: 2px solid $first-color;
				text-align: center;
				cursor: pointer;

				@media (max-width: 1200px) {
					width: 131px;
				}
			}

			> .auth__registration {
				width: 213px;
				border-bottom: 2px solid $no-active-color;
				color: $no-active-color;
				text-align: center;
				cursor: pointer;

				@media (max-width: 1200px) {
					width: 193px;
				}
			}
		}

		> form {
			margin-bottom: 15px;

			@media (max-width: 1200px) {
				margin-bottom: 10px;
			}

			> label {
				font-size: .9em;
				color: $no-active-color;
			}

			> input {
				width: 100%;
				height: 43px;
				border: 1px solid $no-active-color;
				border-radius: 5px;
				margin-bottom: 20px;
				margin-top: 15px;
				font-size: .9em;
				padding: 12px 20px;
				outline: none;

				@media (max-width: 1200px) {
					margin-bottom: 15px;
					margin-top: 10px;
				}
			}
		}

		> a {
			color: $sixth-color;
			text-decoration: underline;
			font-size: .8em;
			align-self: center;
			margin-bottom: 30px;

			@media (max-width: 1200px) {
				margin-bottom: 25px;
			}
		}

		> .auth__title-company {
			font-size: .9em;
			color: $no-active-color;
			margin-bottom: 15px;

			@media (max-width: 1200px) {
				margin-bottom: 10px;
			}
		}

		> .auth__block-company {
			display: flex;
			gap: 10px;

			> img {
				padding: 5px 17.5px;
				border-radius: 3px;
				border: 1px solid rgba(89, 112, 255, .51);
				cursor: pointer;
			}
		}
	}
}

.auth__block-auth_mobile {
	font-family: "Inter";
	display: none;

	@media (max-width: 991.98px) {
		display: flex;
		width: 429px;
		height: 523px;
		box-shadow: 0px 0px 20px $no-active-color;
		border-radius: 10px;
		padding: 25px;
		flex-direction: column;
		position: relative;
	}

	@media (max-width: 479.98px) {
		width: 335px;
		height: 483px;
		padding: 25px 15px 20px;
	}

	> .auth__lock {
		position: absolute;
		top: -60px;
		left: -49px;
		width: 75px;
		height: 92px;

		@media (max-width: 1200px) {
			width: 65px;
			height: 82px;
		}

		@media (max-width: 991.98px) {
			top: -70px;
			left: 113px;
		}
	}

	> .auth__block-state-auth {
		margin-bottom: 40px;
		display: flex;
		gap: 15px;

		@media (max-width: 1200px) {
			margin-bottom: 35px;
			gap: 10px;
		}

		@media (max-width: 479.98px) {
			margin-bottom: 40px;
			gap: 15px;
		}

		> .auth__enter {
			width: 151px;
			color: $first-color;
			border-bottom: 2px solid $first-color;
			text-align: center;
			cursor: pointer;

			@media (max-width: 1200px) {
				width: 131px;
			}

			@media (max-width: 479.98px) {
				width: 103px;
			}
		}

		> .auth__registration {
			width: 213px;
			border-bottom: 2px solid $no-active-color;
			color: $no-active-color;
			text-align: center;
			cursor: pointer;

			@media (max-width: 1200px) {
				width: 193px;
			}

			@media (max-width: 479.98px) {
				width: 182px;
			}
		}
	}

	> form {
		margin-bottom: 15px;

		@media (max-width: 1200px) {
			margin-bottom: 10px;
		}

		> label {
			font-size: .9em;
			color: $no-active-color;
		}

		> input {
			width: 100%;
			height: 43px;
			border: 1px solid $no-active-color;
			border-radius: 5px;
			margin-bottom: 20px;
			margin-top: 15px;
			font-size: .9em;
			padding: 12px 20px;
			outline: none;

			@media (max-width: 1200px) {
				margin-bottom: 15px;
				margin-top: 10px;
			}

			@media (max-width: 479.98px) {
				margin-bottom: 20px;
				margin-top: 15px;
			}
		}
	}

	> a {
		color: $sixth-color;
		text-decoration: underline;
		font-size: .8em;
		align-self: center;
		margin-bottom: 30px;

		@media (max-width: 1200px) {
			margin-bottom: 25px;
		}

		@media (max-width: 479.98px) {
			margin-bottom: 30px;
		}
	}

	> .auth__title-company {
		font-size: .9em;
		color: $no-active-color;
		margin-bottom: 15px;

		@media (max-width: 1200px) {
			margin-bottom: 10px;
		}

		@media (max-width: 479.98px) {
			margin-bottom: 15px;
		}
	}

	> .auth__block-company {
		display: flex;
		gap: 10px;

		> img {
			padding: 5px 17.5px;
			border-radius: 3px;
			border: 1px solid rgba(89, 112, 255, 0.51);
			cursor: pointer;
		}
	}
}

.search {
	font-family: "Inter";
	> .conditionSearch {
		display: flex;
		gap: 80px;

		@media (max-width: 1500px) {
			gap: 20px;
			flex-direction: column;
			align-items: center;
		}

		> .search__block-content {
			font-family: "Inter";
			> .search__title {
				font-family: "Ferry";
				font-size: 2.2em;
				font-weight: 900;
				margin-bottom: 25px;

				@media (max-width: 767.98px) {
					font-size: 2em;
					max-width: 278px;
				}
			}

			> .search__paragraph {
				font-family: "Inter";
				font-size: 1.1em;
				margin-bottom: 45px;

				@media (max-width: 767.98px) {
					font-size: 1.3em;
					max-width: 278px;
				}
			}

			> .form {
				display: flex;
				gap: 10px;
				box-shadow: 0px 0px 20px $inactive-text-color;
				padding: 20px 40px 30px 40px;
				border-radius: 10px;
				width: 872px;
				margin-bottom: 65px;

				@media (max-width: 1200px) {
					max-width: 772px;
					padding: 10px 30px 20px 30px;
				}

				@media (max-width: 991.98px) {
					max-width: 620px;
				}

				@media (max-width: 767.98px) {
					max-width: 375px;
					padding: 30px 14px 30px 14px;
					margin-bottom: 0px;
				}

				> .form__block-input {
					display: flex;
					flex-direction: column;
					gap: 30px;

					@media (max-width: 767.98px) {
						width: 100%;
					}

					> .form__block-select {
						display: flex;
						flex-direction: column;
						gap: 20px;

						> .form__label-select {
							font-size: 1.3em;
						}

						> select {
							width: 242px;
							height: 43px;
							border-radius: 5px;
							border: 1px solid $no-active-color;
							outline: none;
							padding: 13px 20px;
							appearance: none;
							background: url('/svg/arrow-tip-search.svg') no-repeat
								right 15px top 10px;
							background-size: 25px 25px;

							@media (max-width: 991.98px) {
								width: 180px;
							}

							@media (max-width: 767.98px) {
								font-size: 1em;
								width: 100%;
							}
						}
					}

					> .form__block-data-input {
						display: flex;
						gap: 20px;

						@media (max-width: 991.98px) {
							flex-direction: column;
						}

						> label {
							width: 176px;

							@media (max-width: 991.98px) {
								max-width: 146px;
							}

							@media (max-width: 767.98px) {
								font-size: 1.3em;
							}

							.start_data_noBefore {
								margin-top: 20px;
								width: 176px;
								height: 43px;
								padding: 13px 12px 13px 44px;
								outline: none;
								border: 1px solid $no-active-color;
								border-radius: 5px;
								position: relative;
								color: rgba($second-color, $alpha: 0);

								@media (max-width: 767.98px) {
									width: 348px;
								}

								&::-webkit-clear-button,
								&::-webkit-inner-spin-button {
									display: none;
								}

								&::-webkit-calendar-picker-indicator {
									margin-top: 10px;
									background: url('/svg/arrow-tip-search.svg')
										no-repeat;
									background-size: contain;
									width: 20px;
									height: 20px;
									opacity: 1;
								}
							}

							.start_data {
								margin-top: 20px;
								width: 176px;
								height: 43px;
								padding: 13px 12px 13px 44px;
								outline: none;
								border: 1px solid $no-active-color;
								border-radius: 5px;
								position: relative;
								color: rgba($second-color, $alpha: 0);

								@media (max-width: 767.98px) {
									width: 348px;
								}

								&::-webkit-clear-button,
								&::-webkit-inner-spin-button {
									display: none;
								}

								&::-webkit-calendar-picker-indicator {
									margin-top: 10px;
									background: url('/svg/arrow-tip-search.svg')
										no-repeat;
									background-size: contain;
									width: 20px;
									height: 20px;
									opacity: 1;
								}

								&::before {
									content: 'Дата начала';
									position: absolute;
									top: 50%;
									left: 38px;
									transform: translateY(-50%);
									pointer-events: none;
									color: #aaa;
								}
							}
						}

						.end_data_noBefore {
							margin-top: 42px;
							width: 176px;
							height: 43px;
							padding: 13px 12px 13px 44px;
							outline: none;
							border: 1px solid $no-active-color;
							border-radius: 5px;
							position: relative;

							@media (max-width: 991.98px) {
								margin-top: 10px;
							}

							@media (max-width: 767.98px) {
								width: 348px;
							}

							&::-webkit-clear-button,
							&::-webkit-inner-spin-button {
								display: none;
							}

							&::-webkit-calendar-picker-indicator {
								margin-top: 10px;
								background: url('/svg/arrow-tip-search.svg')
									no-repeat;
								background-size: contain;
								width: 20px;
								height: 20px;
								opacity: 1;
							}
						}

						.end_data {
							margin-top: 42px;
							width: 176px;
							height: 43px;
							padding: 13px 12px 13px 44px;
							outline: none;
							border: 1px solid $no-active-color;
							border-radius: 5px;
							position: relative;

							@media (max-width: 991.98px) {
								margin-top: 10px;
							}

							@media (max-width: 767.98px) {
								width: 348px;
							}

							&::-webkit-clear-button,
							&::-webkit-inner-spin-button {
								display: none;
							}

							&::-webkit-calendar-picker-indicator {
								margin-top: 10px;
								background: url('/svg/arrow-tip-search.svg')
									no-repeat;
								background-size: contain;
								width: 20px;
								height: 20px;
								opacity: 1;
							}

							&::before {
								content: 'Дата конца';
								position: absolute;
								top: 50%;
								left: 38px;
								transform: translateY(-50%);
								pointer-events: none;
								color: #aaa;
							}
						}
					}
				}
				> .form__block-checkbox {
					display: flex;
					flex-direction: column;
					padding-top: 15px;

					@media (max-width: 767.98px) {
						display: none;
					}

					> div {
						display: flex;
						flex-direction: column;
						gap: 15px;
						margin-bottom: 130px;

						@media (max-width: 1200px) {
							margin-bottom: 85px;
						}
					}

					> .form__help {
						margin-top: 10px;
						font-size: .8em;
						color: $no-active-color;
						align-self: center;
						padding-left: 25px;
					}
				}
			}
		}

		> .search__block-images {
			align-self: flex-end;
			position: relative;

			@media (max-width: 1500px) {
				align-self: center;
				display: flex;
				gap: 50px;
			}

			@media (max-width: 767.98px) {
				margin-bottom: 25px;
			}

			> .images-block__document {
				position: absolute;
				top: -265px;
				left: -70px;

				@media (max-width: 1500px) {
					position: static;
				}

				@media (max-width: 1200px) {
					width: 78px;
				}

				@media (max-width: 767.98px) {
					position: absolute;
					top: -797px;
					left: 280px;
				}
			}

			> .images-block__folders {
				position: absolute;
				top: -238px;
				left: 190px;

				@media (max-width: 1500px) {
					position: static;
				}

				@media (max-width: 1200px) {
					width: 115px;
				}

				@media (max-width: 767.98px) {
					display: none;
				}
			}

			> .images-block__people {
				@media (max-width: 1200px) {
					width: 342px;
				}

				@media (max-width: 767.98px) {
					width: 379px;
				}
			}
		}
	}

	> .conditionSearch__result {
		> .result-one {
			display: flex;
			gap: 215px;

			@media (max-width: 1200px) {
				gap: 115px;
			}

			@media (max-width: 991.98px) {
				gap: 20px;
				flex-direction: column;
				align-items: center;
				margin-bottom: 60px;
			}

			> .result__block-content {
				> .result-one__title {
					font-family: "Ferry";
					font-size: 2.66em;
					margin-bottom: 36px;
					max-width: 480px;
					font-weight: 900;

					@media (max-width: 767.98px) {
						font-size: 1.75em;
						margin-bottom: 20px;
					}

					@media (max-width: 479.98px) {
						font-size: 2em;
					}
				}

				> .result-one__paragraph {
					font-size: 1.11em;
					max-width: 447px;
				}
			}

			> img {
				width: 552px;

				@media (max-width: 767.98px) {
					width: 350px;
				}
			}
		}

		.result-two {
			> .result-two__title {
				font-family: "Ferry";
				font-size: 1.66em;
				margin-bottom: 17px;
				font-weight: 900;

				@media (max-width: 767.98px) {
					font-size: 1.75em;
					margin-bottom: 10px;
				}

				@media (max-width: 479.98px) {
					font-size: 2em;
				}
			}

			> .result-two__paragraph {
				color: $no-active-color;
				margin-bottom: 27px;

				@media (max-width: 767.98px) {
					margin-bottom: 35px;
				}
			}

			> .result-two__wrapper-result {
				display: flex;

				> .result-two__block-result {
					display: flex;
					border-radius: 10px;
					border: 2px solid $first-color;

					@media (max-width: 767.98px) {
						display: none;
					}

					> .result-block__name {
						display: flex;
						flex-direction: column;
						gap: 26px;
						padding: 17px 27px;
						padding-left: 27px;
						margin-right: 20px;
						background-color: $first-color;
						border-top-left-radius: 7px;
						border-bottom-left-radius: 7px;

						> p {
							color: $third-color;
							font-size: 1.1em;
						}
					}

					> .result-block__result {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 26px;
						padding-right: 18px;
						margin: 18px 18px 18px 0px;
						border-right: 2px solid $no-active-color;
					}
				}

				> .result-two__block-result_mobile {
					display: none;

					@media (max-width: 767.98px) {
						display: flex;
						flex-direction: column;
						border-radius: 10px;
						box-shadow: 0 0 20px rgba($second-color, $alpha: .2);
					}

					> .result-block__name_mobile {
						display: flex;
						gap: 26px;
						padding: 23px 15px;
						background-color: $first-color;
						border-top-right-radius: 7px;
						border-top-left-radius: 7px;

						> p {
							color: $third-color;
							font-size: 1.1em;

							&:first-child {
								margin-right: 29px;
							}
						}
					}

					> .result-block__result_mobile {
						display: flex;
						gap: 69px;
						align-items: center;

						padding: 18px 9px 28px 9px;
					}
				}

				> button {
					background-color: rgba($second-color, $alpha: 0);
					> img {
						@media (max-width: 767.98px) {
							margin-top: 60px;
						}
					}
				}
			}
		}

		.result-three {
			margin-top: 107px;
			display: flex;
			flex-direction: column;

			> .result-three__title {
				font-family: "Ferry";
				font-size: 1.66em;
				font-weight: 900;
				margin-bottom: 58px;

				@media (max-width: 767.98px) {
					font-size: 1.75em;
				}

				@media (max-width: 479.98px) {
					font-size: 2em;
				}
			}

			> .result-three__wrapper-document {
				display: flex;
				flex-wrap: wrap;
				gap: 38px;
				margin-bottom: 38px;

				@media (max-width: 991.98px) {
					gap: 20px;
				}

				> .result-three__block-document {
					border-radius: 10px;
					box-shadow: 0px 0px 20px $inactive-text-color;
					max-width: 638px;
					padding: 19px 30px 35px 30px;

					@media (max-width: 1500px) {
						max-width: 508px;
					}

					@media (max-width: 1200px) {
						max-width: 408px;
					}

					@media (max-width: 991.98px) {
						max-width: 335px;
						box-shadow: 0px 0px 20px rgba($second-color, $alpha: .2);
						padding: 19px 14px 18px 24px;
					}

					> .result-three__block-date {
						display: flex;
						gap: 15px;
						margin-bottom: 24px;

						> p {
							font-size: .9em;
							color: $no-active-color;
						}
					}

					> h2 {
						font-size: 1.44em;
						font-weight: 500;
						margin-bottom: 14px;
					}

					> p {
						background-color: $fourth-color;
						border-radius: 5px;
						width: 157px;
						padding: 4px 11px 3px 14px;
						font-size: .66em;
						margin-bottom: 14px;
					}

					> .result-three__block-info {
						> img {
							width: 100%;
							margin-bottom: 20px;
						}

						> p {
							margin-bottom: 32px;
							color: $no-active-color;
							font-size: .9em;
						}
					}

					> .result-three__title {
						display: flex;
						justify-content: space-between;

						> a {
							font-size: .9em;
							background-color: $fifth-color;
							padding: 14px 30px 13px 33px;
							border-radius: 5px;
							color: $second-color;
						}

						> p {
							font-size: .9em;
							color: $no-active-color;
							padding-top: 15px;
						}
					}
				}
			}

			> .result-three__button-show-more {
				margin-bottom: 109px;
				width: 305px;
				height: 60px;
				background-color: $sixth-color;
				color: $third-color;
				border-radius: 5px;
				align-self: center;
				font-weight: 500;
				font-size: 1.2em;
			}
		}
	}
}